<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>spring-mvc-crud-demo</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc-crud-demo-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestDataBaseServelt</servlet-name>
		<url-pattern>/TestDataBaseServelt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestDataBaseServelt1</servlet-name>
		<url-pattern>/TestDataBaseServelt1</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
	</description>
		<display-name>TestDataBaseServelt</display-name>
		<servlet-name>TestDataBaseServelt</servlet-name>
		<servlet-class>employeestracker.spring.testdatabase.TestDataBaseServelt</servlet-class>
	</servlet>
	<servlet>
		<description>
	</description>
		<display-name>TestDataBaseServelt1</display-name>
		<servlet-name>TestDataBaseServelt1</servlet-name>
		<servlet-class>employeestracker.spring.testdatabase.TestDataBaseServelt</servlet-class>
	</servlet>
</web-app>